matplotlib==3.11.0
Pillow>=12.2.0
customtkinter>=6.0.0
plyer>=2.1.0
requests>=2.34.2
geopandas==1.1.4
ttkbootstrap>=1.20.4
contextily==1.7.0
logging>=0.4.9.6
pystray>=0.19.5
feedparser>=6.0.12
numpy==2.5.0